{% extends 'layout.html' %}
{% block title %}
    MusicSurf
{% endblock %}
{% block body %}
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--4-col">
          <form action = "http://127.0.0.1:2000/" method = post>
              {{ form.hidden_tag() }}
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                {% for field in form %}
                    {% if field.type is equalto 'TextField' %}
                        {{ field.label(class_="mdl-textfield__label") }}
                        {{ field(class_="mdl-textfield__input") }}
                    {% elif field.type == 'SubmitField' %}
                    {% endif %}
                    <!-- {{ field.label }}{{ field }} -->
                {% endfor %}


              </div>
               <br/>
              <p>Filters</p>
              {% for field in form %}
                  {% if field.type == 'BooleanField' %}
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="{{ field.name }}">
                        {{ field(class_="mdl-checkbox__input") }}
                        <span class="mdl-checkbox__label">{{ field.name }}</span>
                    </label>
                  {% endif %}
              {% endfor %}


              <!-- <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
              <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" name="title">
              <span class="mdl-checkbox__label">Title</span>
            </label>
             <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2">
              <input type="checkbox" id="checkbox-2" class="mdl-checkbox__input">
              <span class="mdl-checkbox__label">Album</span>
            </label>
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-3">
              <input type="checkbox" id="checkbox-3" class="mdl-checkbox__input">
              <span class="mdl-checkbox__label">Singer</span>
            </label>
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-4">
              <input type="checkbox" id="checkbox-4" class="mdl-checkbox__input">
              <span class="mdl-checkbox__label">Lyrics</span>
            </label> -->
          </form>
      </div>

      <div class="mdl-cell mdl-cell--8-col">
          <div class="results">
            {% if results %}
                {{ results }}
            {% endif %}
        </div>
      </div>
    </div>

{% endblock %}
