{% extends 'layout.html' %}
{% block title %}
    MusicSurf
{% endblock %}
{% block body %}
    <div class="mdl-grid">
    
    <!-- Form sectoin -->
      <div class="mdl-cell mdl-cell--4-col">
          <div class = "form-pos">
          <form action = "http://127.0.0.1:2000/" method = post>
          <h2>MusicSurf</h2>
              {{ form.hidden_tag() }}
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                {% for field in form %}
                    {% if field.type is equalto 'TextField' %}
                        {{ field.label(class_="mdl-textfield__label") }}
                        {{ field(class_="mdl-textfield__input") }}
                    {% elif field.type == 'SubmitField' %}
                    {% endif %}
                    <!-- {{ field.label }}{{ field }} -->
                {% endfor %}
              </div>
               <br/>
              <p>Filters</p>
              {% for field in form %}
                  {% if field.type == 'BooleanField' %}
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="{{ field.name }}">
                        {{ field(class_="mdl-checkbox__input") }}
                        <span class="mdl-checkbox__label">{{ field.name }}</span>
                    </label>
                  {% endif %}
              {% endfor %}


          </form>
            <!--Download results as Playlist-->
            {% if results %}
                <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" style="margin:10px;" id="download">Download results as Playlist</button>
                <!--Proxy Tag for playlist data-->
                <meta id="my_playlist_data" data-playlist="{{ playlist }}">

            {% endif %}
          </div>
      </div>

      <!-- results section -->
      <div class="mdl-cell mdl-cell--8-col">
          <div class="results">
            <!--Results cards-->
            <!--check if results are returned else nothing will happen-->
            {% if results %}
                <!-- check if given item is found or not -->
                {% if results['hits']['total'] == 0 %}
                    <h3 style="color:grey;"> No results found! </h3>
                {% endif %}
                <!--else render results-->
                {% if results['hits']['total'] > 0 %}
                    <p>Total results found: {{ results['hits']['total'] }}</p>

                    <!--iterate through dictionary to render each result in mdl-card-->
                    {% for i in results['hits']['hits'] %}
                        <div class="mdl-card mdl-shadow--2dp" style="width: 80%;">
                            <div class="mdl-card__title">
                                <h2 class="mdl-card__title-text">{{ i['_source']['title'] }}</h2>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <b>Album:</b> {{ i['_source']['album'] }}<br>
                                <b>Artist:</b> {{ i['_source']['artist'] }}<br>
                                <b>Year:</b> {{ i['_source']['year'] }}<br>
                                {% if  i['_source']['lyrics'] != '' %}
                                    {{ i['_source']['lyrics'][0:200] }}
                                    <div id="lyricsFull">
                                        <!--show first few lines of lyrics-->
                                        {{ i['_source']['lyrics'][200:] }}
                                    </div>
                                    <!--INCOMPLETE - show full lyrics by expending the card-->
                                    <!--<a id="lyricsFullButton_{{ i['_id'] }}" onclick="$('div#lyricsFull').slideToggle()"> view lyrics</a>-->
                                {% endif %}

                            </div>
                            <!--play song button. need to link it to music player-->
                            <div class="mdl-card__actions mdl-card--border">
                                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ i['_source']['path'] }}">
                                Play
                                </a>
                            </div>
                        </div><br>
                    {% endfor %}
                {% endif %}
            {% endif %}
        </div>
      </div>

    </div>

    <!-- ****** JavaScript ******** -->
    <script>

    $(document).ready(function() {
        // Configure/customize these variables.
        var showChar = 100;  // How many characters are shown by default
        var ellipsestext = "...";
        var moretext = "Show more >";
        var lesstext = "Show less";
        

        $("#lyricsFull").each(function() {
            var content = $(this).html();
    
            if(content.length > showChar) {
    
                var c = content.substr(0, showChar);
                var h = content.substr(showChar, content.length - showChar);
    
                var html = c + '<span class="moreellipses">' + ellipsestext+ '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';
    
                $(this).html(html);
            }
    
        });
    
        $("#lyricsFull").click(function(){
            if($(this).hasClass("less")) {
                $(this).removeClass("less");
                $(this).html(moretext);
            } else {
                $(this).addClass("less");
                $(this).html(lesstext);
            }
            $(this).parent().prev().toggle();
            $(this).prev().toggle();
            return false;
        });
    });
</script>
<script>
        // Source: http://thiscouldbebetter.wordpress.com/2012/12/18/loading-editing-and-saving-a-text-file-in-html5-using-javascrip/
        $("#download").on("click", function() {
            //console.log("download");
            function destroyClickedElement(event) {
            document.body.removeChild(event.target);
            }
            var $download = document.createElement("a");
            var textToWrite = $('#my_playlist_data').data("playlist");
            console.log(textToWrite)
            var textFileAsBlob = new Blob([textToWrite], {type: "text/plain"});
            var fileNameToSaveAs = "playlist.m3u";
            $download.download = fileNameToSaveAs;
            if (typeof window.URL === "function") {
            // Chrome
            $download.href = window.URL.createObjectURL(textFileAsBlob);
            } else {
            // Firefox
            $download.href = window.URL.createObjectURL(textFileAsBlob);
            }
            $download.onclick = destroyClickedElement;
            $download.style.display = "none";
            document.body.appendChild($download);
            $download.click();
        });
    </script>
{% endblock %}
