{% extends 'layout.html' %}
{% block title %}
    MusicSurf
{% endblock %}
{% block body %}
    <div class="mdl-grid">
    
    <!-- Form sectoin -->
      <div class="mdl-cell mdl-cell--4-col">
          <div class = "form-pos">
          <form action = "http://127.0.0.1:2000/" method = post>
          <h2>MusicSurf</h2>
              {{ form.hidden_tag() }}
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                {% for field in form %}
                    {% if field.type is equalto 'TextField' %}
                        {{ field.label(class_="mdl-textfield__label") }}
                        {{ field(class_="mdl-textfield__input") }}
                    {% elif field.type == 'SubmitField' %}
                    {% endif %}
                    <!-- {{ field.label }}{{ field }} -->
                {% endfor %}
              </div>
               <br/>
              <p>Filters</p>
              {% for field in form %}
                  {% if field.type == 'BooleanField' %}
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="{{ field.name }}">
                        {{ field(class_="mdl-checkbox__input") }}
                        <span class="mdl-checkbox__label">{{ field.name }}</span>
                    </label>
                  {% endif %}
              {% endfor %}


          </form>
            <!--Download results as Playlist-->
            {% if results['hits']['total'] > 0 %}
                <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" style="margin:10px 0px 10px 0px;" id="download">Download results as Playlist</button>
                <!--Proxy Tag for playlist data-->
                <meta id="my_playlist_data" data-playlist="{{ playlist }}">

            {% endif %}

            <div style="border: solid grey 1px; width:90%; margin-top:2rem; padding: 5px;">

                Total results found: {{ results['hits']['total'] }} <br> 
                time taken: {{ results['took'] }} ms <br>
                Maximum score: {{ results['hits']['max_score'] }}

            </div>
          </div>

      </div>

      <!-- results section -->
      <div class="mdl-cell mdl-cell--8-col">
          <div class="results">
            <!--Results cards-->
            <!--check if results are returned else nothing will happen-->
            {% if results %}
                <!-- check if given item is found or not -->
                {% if results['hits']['total'] == 0 %}
                    <h3 style="color:grey;"> No results found! </h3>
                {% endif %}
                <!--else render results-->
                {% if results['hits']['total'] > 0 %}
                    
                    

                    <!--iterate through dictionary to render each result in mdl-card-->
                    {% for i in results['hits']['hits'] %}
                        <div class="mdl-card mdl-shadow--2dp" style="width: 80%; min-height: 100px">
                            <div class="mdl-card__title">
                                <h2 class="mdl-card__title-text" style="margin-bottom: -2rem;">{{ i['_source']['title'] }}</h2>
                            </div>
                            <div class="mdl-card__supporting-text" style="color: rgba(0, 0, 0, 0.8);">
                                <!--<b style="float: right; color: grey;">Score:</b> {{ i['_source']['_score'] }}<br>-->
                                <b>Album:</b> {{ i['_source']['album'] }}<br>
                                <b>Artist:</b> {{ i['_source']['artist'] }}<br>
                                <b>Year:</b> {{ i['_source']['year'] }}<br>
                                {% if  i['_source']['lyrics'] != '' %}
                                    <div id="lyricsFull{{ i['_id'] }}" style="display: none; font-size: 0.9rem; max-height: 30rem; overflow-y: scroll; margin-top: 10px;">
                                        <pre>{{ i['_source']['lyrics'] }}</pre>
                                    </div>
                                {% endif %}

                            </div>
                            <!--play song button. need to link it to music player-->
                            {% if  i['_source']['lyrics'] != '' %}
                            <div class="mdl-card__actions mdl-card--border">
                                <!--<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ i['_source']['path'] }}">
                                Play
                                </a>-->
                                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect lyricsButton" onclick="showLyrics({{ i }})">
                                Lyrics
                                </a>
                            </div>
                            {% endif %}
                            <div class="mdl-card__menu" style="color: grey"> 
                                score: {{ i['_score'] }}
                            </div>
                        </div><br>
                    {% endfor %}
                {% endif %}
            {% endif %}
        </div>
      </div>

    </div>

    <!-- ****** JavaScript ******** -->
    <script>
    var showLyrics = function(i){
    $("#lyricsFull"+i._id).slideToggle();
    }
    </script>
    <script>
        // Source: http://thiscouldbebetter.wordpress.com/2012/12/18/loading-editing-and-saving-a-text-file-in-html5-using-javascrip/
        $("#download").on("click", function() {
            //console.log("download");
            function destroyClickedElement(event) {
            document.body.removeChild(event.target);
            }
            var $download = document.createElement("a");
            var textToWrite = $('#my_playlist_data').data("playlist");
            console.log(textToWrite)
            var textFileAsBlob = new Blob([textToWrite], {type: "text/plain"});
            var fileNameToSaveAs = "playlist.m3u";
            $download.download = fileNameToSaveAs;
            if (typeof window.URL === "function") {
            // Chrome
            $download.href = window.URL.createObjectURL(textFileAsBlob);
            } else {
            // Firefox
            $download.href = window.URL.createObjectURL(textFileAsBlob);
            }
            $download.onclick = destroyClickedElement;
            $download.style.display = "none";
            document.body.appendChild($download);
            $download.click();
        });
    </script>
{% endblock %}
