<html>
    <head>
        <title>
            {% block title %}{% endblock %}
        </title>
        {% block head %}
        {% endblock %}
        <!--JQuery -->
        <script
              src="https://code.jquery.com/jquery-3.2.1.min.js"
              integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
              crossorigin="anonymous"></script>
        <!-- Material Design Lite -->
        <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
        <!-- Material Design icon font -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        
        <!-- change form position -->
        <style>
            .form-pos{
                        position: static;
                    }
            @media (min-width: 800px){
                .form-pos{
                    position: fixed;
                }
            @media (max-width: 480px){
                .form-pos{
                    position: static;
                }
            }
        </style>
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>
